<ng-container *ngIf="show && clients">
  <div class="row">
    <div class="col-6 show-title">
      <h1>{{ show.title }}</h1>
    </div>
    <div class="col-6 show-date">
      <h4><span class="badge bg-primary float-end">{{ show.date | date:'fullDate' }} {{ show.date | date:'shortTime' }}</span></h4>
    </div>
  </div>
  <form #data="ngForm" (ngSubmit)="submit(data)">
    <div class="grid">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="inputClient">Client</label>
          <select class="form-control" id="inputClient" name="client" ngModel>
            <option *ngFor="let client of clients" [ngValue]="client">{{ client.firstName + " " + client.lastName }}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputRegularTickets">Billets réguliers ({{ show.price.regularPrice | currency }})</label>
          <input type="number" class="form-control" id="inputRegularTickets" name="regularTickets" ngModel>
        </div>
        <div class="form-group col-md-4">
          <label for="inputStudentTickets">Billets étudiants ({{ show.price.studentPrice | currency }})</label>
          <input type="number" class="form-control" id="inputStudentTickets" name="studentTickets" ngModel>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3 float-end">Continuer</button>
    </div>
  </form>
</ng-container>
